html,
body{
    margin: 0;
    font-family: sans-serif;
    background-color: darkcyan;
}
#wrapper h2{
    display: flex;
    justify-content: center;
}
h2{
    color: burlywood;
    letter-spacing: 1px;
}
input{
    border-radius: 5px;
    border: 2px;
    margin-top: 30px;
    height: 2.5em;
    width: 250px;
    padding-left: 10px;
}
input:active{
    border: none;
}
#wrapper{
    height: 500px;
    width: 400px;
    margin: 200px auto;
    padding: 30px;
    background-color: black;
    border-radius: 10px;
}